.chipInput{
  color: black;
  height: 100%;
  width: 100%;
}

.chipContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.input{
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid cyan;
  width: 50%;
}