.chipInput{
  color: black;
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chipContainer{
  width: 50%;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 3px solid cyan;
}

.input{
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  
  width: 50%;
}

.suggestions{
  
  height: 40%;
  margin: 0 auto;
  border-radius: 8px;
  z-index: 1;
  box-shadow: 0px 0px 10px #DEDEDE;
  transition: 0.5s;
  width:  30%;
  overflow: auto;
  position: absolute;
  top: 100%; /* This will position the div right below the input */
  left: 0;
  right: 0;
  max-height: 200px; /* You might want to set a max-height */
  overflow-y: auto; /* Allows scrolling if there are too many suggestions */
  background-color: white;
  z-index: 10;
  
  
}
.suggestionItem{
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.suggestionItem:hover{
  background-color: #DEDEDE;
}
.inputContainer {
  position: relative; /* This is a new style */
  width: 50%;         /* This width should be the same as .chipContainer */
  height: 100%;
}